/* mobile first when min-width */

/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
/* @media (min-width: 1024px) {

} */
/*  */
/* xl */
/* @media (min-width: 1280px) {
  
} */

/* 2xl */
/* @media (min-width: 1536px) {

} */

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: var(--clr-light);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

/* because utility classes has the highest cascading priority, a 0 on the top and bottom won't allow us to add margins on the top and bottom on any element that has the container utility class. This is why we have to define each margin and padding specifically, without using the shorthand. */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.section {
    margin-top: 5rem;
}


/* mobile first when min-width */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
}
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
